{% extends 'base.html.twig' %}

{% block title %}Zalogowany{% endblock %}

{% block body %}
    {% if app.user %}

    <div class="registration-form">
        <div class="mb-3">
            Jesteś zalogowany jako <b> {{ app.user.userIdentifier }} </b>   <a href="{{ path('app_logout') }}">Wyloguj</a>
        </div>
    </div>
    {% endif %}
{% endblock %}
