{% extends 'base.html.twig' %}

{% block title %}O nas{% endblock %}

{% block body %}
<div class="maly-div">
    <h2>O nas</h2>
  
Dążenie do ciągłego rozwoju i samodoskonalenia to moje motto. Dlatego regularnie uczestniczę w różnych szkoleniach, konferencjach i warsztatach, aby być na bieżąco z najnowszymi trendami i rozwiązaniami w branży. Wierzę, że w dzisiejszym szybko zmieniającym się świecie, kluczem do sukcesu jest elastyczność i gotowość do nauki. <br>

Na tej stronie znajdziesz [opisz, co oferujesz na stronie, np. portfolio, blog, usługi], co mam nadzieję, pozwoli Ci lepiej poznać moje podejście i styl pracy. Staram się, aby wszystko, co tutaj prezentuję, było odzwierciedleniem moich wartości i tego, co jest dla mnie ważne – profesjonalizmu, pasji i dążenia do doskonałości. <br>

Jeśli chcesz dowiedzieć się więcej o mojej pracy, pasjach, czy po prostu nawiązać kontakt, zapraszam do [skontaktowania się ze mną/odwiedzenia sekcji kontakt]. Chętnie odpowiem na wszelkie pytania i porozmawiam o możliwościach współpracy.
<br>
Dziękuję, że poświęciłeś czas, aby odwiedzić moją stronę i dowiedzieć się o mnie więcej. Mam nadzieję, że znajdziesz tutaj inspirację, a może i pomysł na wspólny projekt. Do zobaczenia!
</div>
{% endblock %}
